#ukagaka { position: fixed; left: 80%; top: 60%; width: 160px; height: 160px; z-index: 9999; }
.ukagaka-character { position: relative; right: 0; top: 0; cursor: move; }
.ukagaka-chatlog { position: absolute; top: 0px; right: 90px; min-height: 20px; width: 200px; text-align: left; border: 1px solid #e87a73; border-radius: 3px; background: rgba(255, 246, 246, .85); }
.ukagaka-chatlog-source { display: none; }
.ukagaka-chatlog-output { font-size: 12px; padding: 10px; line-height: 23px; text-indent: 15px; box-sizing: border-box; -webkit-box-sizing: border-box; }